<section class="testimonial">
  <div class="container-small">
    <div class="subtitle testimonial__subtitle">Testimonial</div>
    <h2 class="title testimonial__title">What Our Customer Saying?</h2>
    <div class="slider"></div>
    <ul class="achievements">
      <div class="achievements__item">
        <div class="achievements__item_content">
          <div class="achievements__item_number">100%</div>
          <div class="achievements__item_text">Organic</div>
        </div>
      </div>
      <div class="achievements__item">
        <div class="achievements__item_content">
          <div class="achievements__item_number">285</div>
          <div class="achievements__item_text">Active Product</div>
        </div>
      </div>
      <div class="achievements__item">
        <div class="achievements__item_content">
          <div class="achievements__item_number">350+</div>
          <div class="achievements__item_text">Organic Orchards</div>
        </div>
      </div>
      <div class="achievements__item">
        <div class="achievements__item_content">
          <div class="achievements__item_number">25+</div>
          <div class="achievements__item_text">Years of Farming</div>
        </div>
      </div>
    </ul>
  </div>
</section>
