@import "src/app/shared/styles/mixins";

.testimonial {
  padding: 164px 0;
  background-image: url("/assets/testimonials/testimonials-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include middledesk {
    padding: 100px 0;
  }
  @include minitablet {
    padding: 50px 0;
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }

  &__subtitle {
    text-align: center;
  }
}

.achievements {
  @include flex-all-center;
  gap: 62px;
  @include tablet {
    flex-wrap: wrap;
    gap: 42px;
  }

  padding-top: 102px;
  border-top: 1px solid #e0e0e0;
  @include mobile {
    padding-top: 30px;
  }
  &__item {
    @include flex-all-center;

    width: 211px;
    height: 211px;
    border: 4px solid var(--color-green);
    border-radius: 100%;

    @include mobile {
      width: 150px;
      height: 150px;
    }
    @include minitablet {
      margin-bottom: 10px;
    }

    &_content {
      @include flex-all-center;
      flex-direction: column;

      width: 189px;
      height: 189px;

      @include mobile {
        width: 123px;
        height: 123px;
      }
      background-color: #f1f1f1;
      border-radius: 100%;
    }

    &_number {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 800;
      font-size: 50px;
      line-height: 59px;
      text-align: center;
      color: var(--color-primary);

      @include mobile {
        font-size: 35px;
        line-height: 42px;
      }
    }

    &_text {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 165.4%;
      text-align: center;
      color: var(--color-primary);

      @include mobile {
        font-size: 16px;
      }
    }
  }
}
