<section class="product-section" *ngIf="product">
  <div class="container">
    <div class="product-section__inner">
      <div class="product-section__left">
        <div class="product-section__tag">{{ product.tag }}</div>
        <img
          [src]="'assets/products/' + product.img"
          alt="Health Pistachios"
          class="product-section__img"
          width="600"
          height="600"
          [alt]="product.name"
        />
      </div>
      <div class="product-section__right">
        <h1 class="product-section__title">{{ product.name }}</h1>
        <div class="product-section__rating">
          <app-star-rating [initialStars]="product.rating"></app-star-rating>
        </div>
        <div class="product-section__price">
          <span class="product-section__price-old">{{
            product.old_price | currency : "USD" : "symbol"
          }}</span>
          <span class="product__price-new">{{
            product.new_price | currency : "USD" : "symbol"
          }}</span>
        </div>
        <p class="product-section__description">
          {{ product.description }}
        </p>
        <app-calculate-products-quantity
          [showAddToCartButton]="true"
          (addToCartClicked)="addToCartClicked($event)"
        ></app-calculate-products-quantity>
      </div>
    </div>
    <div class="product-section__info">
      <div class="product-section__info-buttons">
        <app-button type="primary">Product Description</app-button>
        <app-button type="info">Additional Info</app-button>
      </div>
      <p class="product-section__info-text">
        Welcome to the world of natural and organic. Here you can discover the
        bounty of nature. We have grown on the principles of health, ecology,
        and care. We aim to give our customers a healthy chemical-free meal for
        perfect nutrition. It offers about 8-10% carbs. Simple sugars — such as
        glucose and fructose — make up 70% and 80% of the carbs in raw.
      </p>
    </div>
  </div>
</section>
