@import "src/app/shared/styles/mixins";
.product-section {
  &__inner {
    @include flex-all-sb;
    margin-bottom: 75px;
    gap: 30px;

    @include minitablet {
      flex-direction: column;
    }
  }

  &__left {
    position: relative;
    border: 5px solid var(--color-alabaster);
    border-radius: 30px;
  }

  &__tag {
    position: absolute;
    top: 29px;
    left: 33px;
    padding: 5px 12px;
    background: var(--color-primary);
    border-radius: 8px;
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-sans);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__img {
    border-radius: 30px;

    @include middledesk {
      width: 500px;
      height: 500px;
    }

    @include minidesk {
      width: 400px;
      height: 400px;
    }

    @include mobile {
      width: 350px;
      height: 350px;
    }
  }

  &__right {
    max-width: 658px;
  }

  &__title {
    color: var(--color-primary);
    font-family: var(--font-roboto);
    margin-bottom: 9px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__rating {
    margin-bottom: 13px;
  }

  &__price {
    margin-bottom: 27px;
  }

  &__description {
    margin-bottom: 30px;
    color: var(--color-text);
    font-family: var(--font-sans);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%;
  }

  &__price {
    font-family: var(--font-sans);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    &-old {
      text-decoration: line-through;
      color: #b8b8b8;
      margin-right: 8px;
    }
  }

  &__info {
    &-buttons {
      @include flex-all-center;
      gap: 20px;
      margin-bottom: 27px;
    }
    &-text {
      color: var(--color-text);
      text-align: center;
      font-family: var(--font-sans);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 165.4%;
    }
  }
}
