@import "src/app/shared/styles/mixins";

.calculate-products {
  display: flex;
  align-items: center;
  @include tablet {
    flex-direction: column;
    gap: 20px;
  }
  &__label {
    margin-right: 22px;
    color: var(--color-primary);
    font-family: var(--font-roboto);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @include mobile {
      margin-right: 0;
    }
  }

  &__input {
    width: 134px;
    height: 80px;
    text-align: center;
    margin-right: 20px;
    font-family: var(--font-roboto);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 16px;
    border: 2px solid var(--color-primary);
    background: var(--color-white);
    color: var(--color-primary);
    padding-left: 20px;

    @include middledesk {
      padding-left: 0;
    }

    @include mobile {
      width: 100px;
      height: 50px;
      margin-right: 0;
    }
  }

  &__button {
    max-width: 213px;
  }
}
