<div class="calculate-products">
  <div>
    <label class="calculate-products__label">Quantity :</label>
    <input
      class="calculate-products__input"
      [(ngModel)]="quantity"
      type="number"
      value="1"
      min="1"
      (input)="changeQuantity()"
    />
  </div>

  <ng-container *ngIf="showAddToCartButton">
    <app-button
      type="primary"
      class="calculate-products__button"
      (click)="addToCart()"
    >
      Add To Cart
    </app-button>
  </ng-container>
</div>
