@import "src/app/shared/styles/mixins";

.products {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 122px;

    @include middledesk {
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 60px;
    }

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      gap: 20px;
    }

    @include minitablet {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }
}
