@import "src/app/shared/styles/mixins";

.offer {
  padding: 200px 0;
  background-color: var(--color-primary);

  @include middledesk {
    padding: 100px 0;
  }
  @include minitablet {
    padding: 50px 0;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;

    @include mobile {
      display: block;
    }
  }
  &__title {
    color: var(--color-white);
    @include mobile {
      margin-bottom: 15px;
    }
  }
}
