<section class="offer">
  <div class="container">
    <div class="offer__top">
      <div class="offer__left">
        <div class="subtitle offer__subtitle">Offer</div>
        <h2 class="title offer__title">We Offer Organic For You</h2>
      </div>
      <app-button routerLink="/shop" class="offer__button" type="secondary">
        View All Products
        <img src="assets/btn-arrow.svg" alt="" />
      </app-button>
    </div>
    <app-products [products]="products$ | async"></app-products>
  </div>
</section>
