<section class="news">
  <div class="container">
    <ul class="news__list">
      <li class="news__item">
        <app-news-card routerLink="/news-1"></app-news-card>
      </li>
      <li class="news__item">
        <app-news-card routerLink="/news-1"></app-news-card>
      </li>
      <li class="news__item">
        <app-news-card routerLink="/news-1"></app-news-card>
      </li>
      <li class="news__item">
        <app-news-card routerLink="/news-1"></app-news-card>
      </li>
    </ul>
  </div>
</section>
