<section class="advantages">
  <div class="container">
    <div class="advantages__inner">
      <div class="advantages__content">
        <h3 class="subtitle advantages__subtitle">Why Choose us?</h3>
        <h2 class="title advantages__title">
          We do not buy from the open market & traders.
        </h2>
        <p class="text advantages__text">
          Simply dummy text of the printing and typesetting industry. Lorem had
          ceased to been the industry's standard the 1500s, when an unknown
        </p>
        <div class="advantages__features">
          <div class="advantages__feature">
            <h4 class="advantages__feature-title">100% Natural Product</h4>
          </div>
          <div class="advantages__feature">
            <h4 class="advantages__feature-title">Increases resistance</h4>
          </div>
        </div>
      </div>
      <img
        src="assets/advantages/advantage-img.jpg"
        alt=""
        class="advantages__img"
      />
    </div>
    <ul class="advantages__items">
      <li class="advantages__item">
        <img
          src="assets/advantages/advantage-1.svg"
          alt="Return Policy"
          class="advantages__item-img"
        />
        <h3 class="advantages__item-title">Return Policy</h3>
        <p class="text advantages__item-text">
          Simply dummy text of the printintypesetting industry.
        </p>
      </li>
      <li class="advantages__item">
        <img
          src="assets/advantages/advantage-2.svg"
          alt="100% Fresh"
          class="advantages__item-img"
        />
        <h3 class="advantages__item-title">100% Fresh</h3>
        <p class="text advantages__item-text">
          Simply dummy text of the printintypesetting industry.
        </p>
      </li>
      <li class="advantages__item">
        <img
          src="assets/advantages/advantage-3.svg"
          alt="Support 24/7"
          class="advantages__item-img"
        />
        <h3 class="advantages__item-title">Support 24/7</h3>
        <p class="text advantages__item-text">
          Simply dummy text of the printintypesetting industry.
        </p>
      </li>
      <li class="advantages__item">
        <img
          src="assets/advantages/advantage-4.svg"
          alt="Secured Payment"
          class="advantages__item-img"
        />
        <h3 class="advantages__item-title">Secured Payment</h3>
        <p class="text advantages__item-text">
          Simply dummy text of the printintypesetting industry.
        </p>
      </li>
    </ul>
  </div>
</section>
