<section class="about">
  <div class="container">
    <div class="about__wrapper">
      <img
        class="about__img"
        width="911"
        height="867"
        src="assets/about/about-img.png"
      />
      <div class="about__content">
        <p class="subtitle about__subtitle">About Us</p>
        <h2 class="title about__title">
          We Believe in Working Accredited Farmers
        </h2>
        <p class="text about__text">
          Simply dummy text of the printing and typesetting industry. Lorem had
          ceased to been the industry's standard dummy text ever since the
          1500s, when an unknown printer took a galley.
        </p>
        <ul class="about__list">
          <li class="about__item">
            <img class="about__item-img" src="assets/about/about-item-1.png" />
            <div class="about__item-content">
              <h3 class="about__item-title">Organic Foods Only</h3>
              <p class="text about__item-text">
                Simply dummy text of the printing and typesetting industry.
                Lorem Ipsum
              </p>
            </div>
          </li>
          <li class="about__item">
            <img class="about__item-img" src="assets/about/about-item-2.png" />
            <div class="about__item-content">
              <h3 class="about__item-title">Quality Standards</h3>
              <p class="text about__item-text">
                Simply dummy text of the printing and typesetting industry.
                Lorem Ipsum
              </p>
            </div>
          </li>
        </ul>
        <app-button class="about__button" type="primary" routerLink="/shop"
          >Shop Now <img src="assets/btn-arrow.svg"
        /></app-button>
      </div>
    </div>
  </div>
</section>
