@import "src/app/shared/styles/mixins";

.search {
  position: relative;
  width: 376px;
  margin-right: 18px;
  border-radius: 36px;
  border: 1px solid transparent;

  @include middledesk {
    width: 300px;
  }
  @include minidesk {
    width: 250px;
  }

  @include mobile {
    display: none;
  }

  &:hover {
    border: 1px solid var(--color-text);
  }

  &__input {
    height: 66px;
    background: #fafafa;
    margin: 0px;
    padding: 0 70px 0 15px;
    width: 100%;
    border-radius: 36px;
    border: none;
    font-size: 18px;
    line-height: 165.4%;
    color: var(--color-text);

    &::placeholder {
      font-size: 18px;
      line-height: 165.4%;
      color: var(--color-text);
    }
  }

  &__button {
    position: absolute;
    right: 6px;
    top: 6px;
    height: 30px;
    z-index: 2;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    background-color: var(--color-green);
  }

  &__list {
    position: absolute;
    max-height: 650px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 70px;
    overflow: auto;
    background-color: var(--color-white);
    padding: 15px;
    border-radius: 36px;
    box-shadow: 0px 14px 36px 0px rgba(204, 204, 204, 0.25);
    @include minidesk {
      right: 20px;
    }
  }
}
