@import "src/app/shared/styles/mixins";

.team {
  text-align: center;
  padding: 177px 0;

  @include minitablet {
    padding: 100px 0;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    max-width: 852px;
    margin: 0 auto;
    margin-bottom: 42px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    @include minitablet {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }
  }

  &__item {
    background-color: var(--color-alabaster);
    border-radius: 24px;

    @include middledesk {
      max-width: 400px;
    }

    &:hover {
      background-color: var(--color-white);
      filter: drop-shadow(0px 29px 44px rgba(150, 150, 150, 0.25));
    }

    &-img {
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      width: 100%;
    }

    &-content {
      margin: 35px 28px 34px 28px;
    }

    &-name {
      display: block;
      font-size: 25px;
      text-align: left;

      @include tablet {
        font-size: 22px;
      }
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
    }

    &-prof {
      font-size: 22px;
      margin-bottom: 0;
      line-height: inherit;
    }

    &-socials {
      display: flex;
      align-items: flex-end;
      gap: 17px;
    }
  }
}
