<section class="offer">
  <div class="container">
    <h3 class="subtitle offer__subtitle">About Us</h3>
    <h2 class="title offer__title">What We Offer for You</h2>
    <ul class="offer__items">
      <li class="offer__item">
        <img
          src="assets/about-offer/spicy.jpg"
          alt=""
          class="offer__item-img"
        />
        <h4 class="offer__item-title">Spicy</h4>
      </li>
      <li class="offer__item">
        <img src="assets/about-offer/nuts.jpg" alt="" class="offer__item-img" />
        <h4 class="offer__item-title">Nuts & Feeds</h4>
      </li>
      <li class="offer__item">
        <img
          src="assets/about-offer/fruits.jpg"
          alt=""
          class="offer__item-img"
        />
        <h4 class="offer__item-title">Fruits</h4>
      </li>
      <li class="offer__item">
        <img
          src="assets/about-offer/vegetables.jpg"
          alt=""
          class="offer__item-img"
          width="334"
          height="314"
        />
        <h4 class="offer__item-title">Vegetables</h4>
      </li>
    </ul>
  </div>
</section>
