@import "src/app/shared/styles/mixins";

.cart {
  @include flex-v-center;
  padding: 6px;
  height: 66px;
  width: 162px;
  border: 1px solid #e0e0e0;
  border-radius: 33px;
  cursor: pointer;

  @include minidesk {
    width: 100%;
    padding: 0;
    border: none;
  }

  @include minitablet {
    position: fixed;
    right: 15px;
    top: 170px;
    width: 53px;
    z-index: 4;
  }

  &:hover {
    border: 1px solid var(--color-text);

    @include minidesk {
      border: none;
    }
  }

  &__button {
    @include flex-all-center;

    width: 56px;
    height: 56px;
    margin-right: 12px;
    background-color: var(--color-primary);
    border-radius: 100%;

    @include minidesk {
      margin-right: 0;
    }
  }

  &__count {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: var(--color-primary);

    @include minidesk {
      display: none;
    }
  }
}
