<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="contacts">
        <h3 class="footer__title">Contact Us</h3>
        <ul class="text contacts__list">
          <li class="contacts__item">
            <h4 class="contacts__item-title">Email</h4>
            <a href="mail:needhelp@Organia.com" class="contacts__link"
              >needhelp@Organia.com</a
            >
          </li>
          <li class="contacts__item">
            <h4 class="contacts__item-title">Phone</h4>
            <a href="tel:666888888" class="contacts__link">666 888 888</a>
          </li>
          <li class="contacts__item">
            <h4 class="contacts__item-title">Address</h4>
            <a href="#" class="contacts__link">
              88 road, Brooklyn street, USA
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__center">
        <app-logo class="footer__logo"></app-logo>
        <p class="text footer__text">
          Simply dummy text of the printing and typesetting industry. Lorem
          Ipsum simply dummy text of the printing
        </p>
        <ul class="socials">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="socials__item"
          >
            <img src="assets/socials/insta.svg" alt="Instagram" />
          </a>
          <a
            href="https://uk-ua.facebook.com/"
            target="_blank"
            class="socials__item"
          >
            <img src="assets/socials/fb.svg" alt="Facebook" />
          </a>
          <a
            href="https://www.twitter.com/"
            target="_blank"
            class="socials__item"
          >
            <img src="assets/socials/twitter.svg" alt="Twitter" />
          </a>
          <a
            href="https://www.pinterest.com/"
            target="_blank"
            class="socials__item"
          >
            <img src="assets/socials/pinterest.svg" alt="Pinterest" />
          </a>
        </ul>
      </div>
      <div class="utility-pages">
        <h3 class="footer__title">Utility Pages</h3>
        <ul class="utility-pages__list">
          <li class="utility-pages__item">
            <a routerLink="/" class="text utility-pages__link"> Style Guide </a>
          </li>
          <li class="utility-pages__item">
            <a routerLink="/" class="text utility-pages__link">
              404 Not Found
            </a>
          </li>
          <li class="utility-pages__item">
            <a routerLink="/" class="text utility-pages__link">
              Password Protected
            </a>
          </li>
          <li class="utility-pages__item">
            <a routerLink="/" class="text utility-pages__link"> Licenses </a>
          </li>
          <li class="utility-pages__item">
            <a routerLink="/" class="text utility-pages__link"> Changelog </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text footer__copy">
    Copyright © <b>Organic</b> | Designed by <b>VictorFlow</b> Templates -
    Powered by <b>VictorFlow</b>
  </div>
</footer>
