@import "src/app/shared/styles/mixins";

.advert-units {
  padding-top: 154px;
  padding-bottom: 190px;

  @include middledesk {
    padding: 100px 0;
  }
  @include minitablet {
    padding: 50px 0;
  }

  &__items {
    @include flex-all-sb;

    @include minitablet {
      flex-direction: column;
      gap: 20px;
    }
  }
}

.advert-unit {
  width: 682px;
  padding: 110px 0 110px 55px;
  border-radius: 36px;
  background-color: rgb(34, 129, 184);

  @include minidesk {
    width: 570px;
  }
  @include tablet {
    width: 490px;
  }
  @include mobile {
    width: 350px;
    padding: 55px 0 55px 55px;
  }

  &__title {
    max-width: 258px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    color: var(--color-white);
  }

  &__subtitle {
    font-family: "Yellowtail";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: var(--color-white);
  }
}
