<section class="project-section">
  <div class="container">
    <ul class="project-section__list">
      <li class="project-section__item">
        <app-projects-unit routerLink="/projects-1"></app-projects-unit>
      </li>
      <li class="project-section__item">
        <app-projects-unit routerLink="/projects-1"></app-projects-unit>
      </li>
      <li class="project-section__item">
        <app-projects-unit routerLink="/projects-1"></app-projects-unit>
      </li>
      <li class="project-section__item">
        <app-projects-unit routerLink="/projects-1"></app-projects-unit>
      </li>
      <li class="project-section__item">
        <app-projects-unit routerLink="/projects-1"></app-projects-unit>
      </li>
      <li class="project-section__item">
        <app-projects-unit routerLink="/projects-1"></app-projects-unit>
      </li>
    </ul>
  </div>
</section>
