@import "src/app/shared/styles/mixins";

.project-section {
  padding-bottom: 230px;
  @include middledesk {
    padding-bottom: 0;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include middledesk {
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
    }
  }
}
