<section class="news-single">
  <div class="news-single__top">
    <div class="news-single__info">
      <div class="news-single__date">
        <span>Posted On:</span> January 6, 2022
      </div>
      <div class="news-single__author">By Rachi Card</div>
    </div>

    <h1 class="title news-single__title news-single__title-main">
      Research More Organic Food
    </h1>
    <p class="text news-single__text news-single__text-main">
      Established fact that a reader will be distracted by the readable content
      of a page when looking a layout. The point of using Lorem Ipsum is that it
      has a more-or-less normal distribution of letters, as opposed
    </p>
  </div>
  <div class="container-news">
    <div class="news-single__content">
      <p class="text news-single__text">
        Uniquely matrix economically sound value through cooperative technology.
        Competently parallel task fully researched data and enterprise process
        improvements. Collaboratively expedite quality manufactured products via
        client-focused results quickly communicate enabled technology and
        turnkey leadership skills. Uniquely enable accurate supply chains rather
        than friction technology.
      </p>
      <h2 class="title news-single__title">Preferred Form of Vitamin D?</h2>
      <p class="text news-single__text">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking a layout. The point of using
        Lorem Ipsum is that it has a more-or-less normal distribution of
        letters, as opposed to using 'Content here, content here', making it
        look like readable English.
      </p>
      <ul class="news-single__list">
        <li class="text news-single__item">
          Publishing packages and web pageLorem Ipsum as their default
        </li>
        <li class="text news-single__item">
          Content here, content here', making it look like readable
        </li>
        <li class="text news-single__item">
          Packages and web pageLorem Ipsum as their default
        </li>
      </ul>
      <blockquote class="text news-single__blockquote">
        “The first rule of any organic used in a business is that nature applied
        to an efficient operation will magnify the efficiency. The second is
        that organic applied to an inefficient operation will magnify the
        health.”
      </blockquote>
      <h2 class="title news-single__title news-single__title-small">
        Make perfect organic product with us
      </h2>
      <p class="text news-single__text">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking a layout. The point of using
        Lorem Ipsum is that it has a more-or-less normal distribution of
        letters, as opposed to using 'Content here, content here', making it
        look like readable English.
      </p>
      <ol class="news-single__list news-single__list-num">
        <li class="text news-single__item">
          Publishing packages and web pageLorem Ipsum as their default
        </li>
        <li class="text news-single__item">
          Content here, content here', making it look like readable
        </li>
        <li class="text news-single__item">
          Packages and web pageLorem Ipsum as their default
        </li>
        <li class="text news-single__item">
          more-or-less normal distribution of letters
        </li>
      </ol>
    </div>
  </div>
</section>
