<div class="contacts">
  <div class="contacts__list">
    <label class="title contacts__label">
      Last Name*
      <input
        name="secondName"
        class="text contacts__input"
        placeholder="Your Last Name"
      />
    </label>
    <label class="title contacts__label">
      First Name*
      <input
        name="firstName"
        class="text contacts__input"
        placeholder="Your First Name"
      />
    </label>
    <label class="title contacts__label">
      Phone*
      <input
        name="phone"
        class="text contacts__input"
        placeholder="Your Phone"
      />
    </label>
    <label class="title contacts__label">
      Address*
      <input
        name="address"
        class="text contacts__input"
        placeholder="Your Address"
      />
    </label>
  </div>
  <label class="title contacts__label">
    Comment*
    <textarea
      class="text contacts__textarea"
      placeholder="hello there,i would like to talk about how to..."
    ></textarea>
  </label>
  <app-button type="primary" class="contacts__button">
    I confirm the order
  </app-button>
</div>
