@import "src/app/shared/styles/mixins";

.contacts {
  @include flex-all-center;

  margin-bottom: 30px;
  flex-direction: column;
  &__list {
    @include flex-all-center;

    flex-wrap: wrap;
    gap: 16px 26px;
    margin-bottom: 30px;
  }

  &__input {
    width: 353px;
    height: 48px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid var(--color-green);
    background: var(--color-white);

    &::placeholder {
      color: #ababab;
      font-family: var(--font-roboto);
      font-size: 18px;
      font-style: italic;
      font-weight: 400;
      line-height: normal;
    }
  }
  &__label {
    @include flex-column-start;
    font-size: 18px;
  }

  &__textarea {
    border-radius: 6px;
    border: 1px solid var(--color-green);
    background: var(--color-white);
    resize: vertical;
    width: 734px;
    height: 96px;
    padding: 15px;

    @include minitablet {
      width: 500px;
    }
    @include mobile {
      width: 350px;
    }

    &::placeholder {
      color: #ababab;
      font-family: var(--font-roboto);
      font-size: 18px;
      font-style: italic;
      font-weight: 400;
      line-height: normal;
    }
  }
  &__button {
    margin-top: 20px;
    display: block;
    width: 300px;
  }
}
